<!-- john.ejs -->
<html>
  <head>
    <title>Tom's Page</title>
  </head>
  <body>
    <% include header %>
    <h1>Welcome to John's Page</h1>
    <p>John is an amazing actor known for his roles in...</p>
  </body>
</html>
